{% extends "todo/base.html" %}

{% block title %} Todo Application{% endblock title %}

{% block todolist %}
<div class="m-4 text-center max-w-md mx-auto text-3xl font-bold ">
  To-Do List
</div>
<div class="m-4 max-w-md mx-auto">
  <div>
    {% if submitted %}
    <p class="success">
      Your Todo was submitted successfully. Thank you.
    </p>
    {% else %}
    <form action="/todo/addtodo/" method="post">
      {% csrf_token %}
      <div class="flex ml-8 mb-2">
        <div class="px-4 py-1 border border-gray-500 focus:border-blue-500 rounded">
          {{ form.name }}
        </div>
        <div>
          <input class="ml-2 px-4 py-1 border text-md border bg-blue-500  text-white rounded" type="submit"
            value="New Todo List">
        </div>
      </div>
    </form>
    {% endif %}
  </div>

  {% if todolist %}

  <ul class="p-4 border max-auto ">
    {% for todo in todolist %}
    <div class="mb-2 px-4 py-2 border text-md text-blue-700 shadow hover:bg-gray-100">
      <li><a class="" href="{% url 'todo:task' todo.id %}">{{ todo.name }}</a>
      </li>
    </div>
    {% endfor %}
  </ul>
</div>
{% else %}
<p>No todo lists are available.</p>
{% endif %}
{% endblock todolist %}