{% extends "todo/base.html" %}

{% block title %}Anouka Todo Application{% endblock title %}

{% block todolist %}
<div class="ml-8 max-w-md max-auto m-4 text-xl font-bold ">
  My To-Do Application
</div>
<div class="m-4 max-w-md max-auto">
  <div>
    {% if submitted %}
    <p class="success">
      Your Todo was submitted successfully. Thank you.
    </p>
    {% else %}
    <form action="/todo/addtodo/" method="post">
      {% csrf_token %}
      {{ form }}
      <input class="mt-4 px-4 py-1 border text-md border text-white bg-blue-500 rounded" type="submit"
        value="New Todo List">
    </form>
    {% endif %}
  </div>

  {% if todolist %}

  <ul class="p-4 border max-auto ">
    {% for todo in todolist %}
    <div class="mb-2 px-4 py-2 border text-md text-blue-700 shadow hover:bg-green-300">
      <li><a class="" href="{% url 'todo:task' todo.id %}">{{ todo.name }}</a>
      </li>
    </div>
    {% endfor %}
  </ul>
</div>
{% else %}
<p>No todo lists are available.</p>
{% endif %}
{% endblock todolist %}